<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./product-view.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="product-view">
      <header class="top-bar4">
        <a class="title61">Pharmacovigilance Reporting Platform</a>
        <div class="navigation4" id="navbarLinks">
          <a class="tab18" id="tabText" href="/main-page.html">Home</a>
          <a class="tab19">Report Drug Effect</a>
          <a class="blog-tab4" id="blogTabText">Blog</a>
          <a class="tab21" id="tabText3">About us</a>
          <div class="textfield9">
            <input class="text6" placeholder="Search in site" type="text" />

            <img class="ic-search-icon4" alt="" src="./public/icsearch.svg" />
          </div>
          <a href="javascript:void(0);" class="toggle-button1" onclick="toggleMenu()">
            &#9776;
          </a>
          <script src="nav-bar-script.js"></script>          
        </div>
      </header>
      <div class="content1">
        <img
          class="content-background-icon"
          loading="lazy"
          alt=""
          src="./public/rectangle-4139@2x.png"
        />

        <h1 class="title62">Products</h1>
      </div>
      <main class="product-cards-wrapper">
        <section class="product-cards">
          <div class="card-background"></div>
          <div class="card-items">
            <div class="card3">
              <div class="image-container4">
                <div class="image6">
                  <div class="tag1">
                    <div class="text7">New</div>
                  </div>
                </div>
              </div>
              <div class="text-content6">
                <div class="title63">Product A</div>
                <div class="subtitle11">Stethoscope</div>
              </div>
            </div>
            <div class="card4">
              <div class="image-container5">
                <div class="image7">
                  <div class="title64">Product Image</div>
                </div>
              </div>
              <div class="text-content7">
                <div class="title65">Product B</div>
                <div class="subtitle12">Medical Scrub</div>
              </div>
            </div>
            <div class="card5">
              <img
                class="image-icon3"
                loading="lazy"
                alt=""
                src="./public/image2@2x.png"
              />

              <div class="card-child">
                <div class="title-parent5">
                  <div class="title66">Product C</div>
                  <div class="subtitle13">Coffee Mug</div>
                </div>
              </div>
            </div>
            <div class="card6">
              <div class="image-container6">
                <div class="image8">
                  <div class="tag2">
                    <div class="text8">New</div>
                  </div>
                </div>
              </div>
              <div class="text-content8">
                <div class="title67">Product A</div>
                <div class="subtitle14">Stethoscope</div>
              </div>
            </div>
            <div class="card7">
              <div class="image-container7">
                <div class="image9">
                  <div class="title68">Product Image</div>
                </div>
              </div>
              <div class="text-content9">
                <div class="title69">Product B</div>
                <div class="subtitle15">Medical Scrub</div>
              </div>
            </div>
            <div class="card8">
              <img class="image-icon4" alt="" src="./public/image2@2x.png" />

              <div class="card-inner1">
                <div class="title-parent6">
                  <div class="title70">Product C</div>
                  <div class="subtitle16">Coffee Mug</div>
                </div>
              </div>
            </div>
            <div class="card9">
              <div class="image-container8">
                <div class="image10">
                  <div class="tag3">
                    <div class="text9">New</div>
                  </div>
                </div>
              </div>
              <div class="text-content10">
                <div class="title71">Product A</div>
                <div class="subtitle17">Stethoscope</div>
              </div>
            </div>
            <div class="card10">
              <div class="image-container9">
                <div class="image11">
                  <div class="title72">Product Image</div>
                </div>
              </div>
              <div class="text-content11">
                <div class="title73">Product B</div>
                <div class="subtitle18">Medical Scrub</div>
              </div>
            </div>
            <div class="card11">
              <img class="image-icon5" alt="" src="./public/image2@2x.png" />

              <div class="card-inner2">
                <div class="title-parent7">
                  <div class="title74">Product C</div>
                  <div class="subtitle19">Coffee Mug</div>
                </div>
              </div>
            </div>
            <div class="card12">
              <div class="image-container10">
                <div class="image12">
                  <div class="tag4">
                    <div class="text10">New</div>
                  </div>
                </div>
              </div>
              <div class="text-content12">
                <div class="title75">Product A</div>
                <div class="subtitle20">Stethoscope</div>
              </div>
            </div>
            <div class="card13">
              <div class="image-container11">
                <div class="image13">
                  <div class="title76">Product Image</div>
                </div>
              </div>
              <div class="text-content13">
                <div class="title77">Product B</div>
                <div class="subtitle21">Medical Scrub</div>
              </div>
            </div>
            <div class="card14">
              <img class="image-icon6" alt="" src="./public/image2@2x.png" />

              <div class="card-inner3">
                <div class="title-parent8">
                  <div class="title78">Product C</div>
                  <div class="subtitle22">Coffee Mug</div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div class="row3"></div>
      <footer class="section5">
        <div class="title79">Contact Us</div>
        <div class="title80">Terms and Conditions</div>
        <a class="title81">Privacy Policy</a>
      </footer>
    </div>

    <script>
      var tabText = document.getElementById("tabText");
      if (tabText) {
        tabText.addEventListener("click", function (e) {
          window.location.href = "./m-a-i-n-p-a-g-e-l-i-n-k.html";
        });
      }
      
      var blogTabText = document.getElementById("blogTabText");
      if (blogTabText) {
        blogTabText.addEventListener("click", function (e) {
          window.location.href = "./blog-page.html";
        });
      }
      
      var tabText3 = document.getElementById("tabText3");
      if (tabText3) {
        tabText3.addEventListener("click", function (e) {
          window.location.href = "./about-us.html";
        });
      }
      </script>
  </body>
</html>
